/120km(malpani).ipynb
/40km(malpani).ipynb
/40km(malpani).png
/Before_LDPC.ipynb
/Pipeline2.ipynb
/Refs.bib
/cow_data_120km.csv
/cow_data_40km.csv
/cow_data_fast.csv
/cow_detections_120km_log.csv
/cow_detections_40km_log.csv
/cow_detections_80km_log.csv
/tryingnew.ipynb